.start {
  background: linear-gradient(
      to bottom,
      #9ef19e 2%,
      10%,
      #45a945 80%,
      94%,
      #015c01 100%
    ),
    white;
  padding: 0rem 2rem 0rem 2rem;
  align-self: stretch;
  align-content: center;
  font-size: large;
  font-style: italic;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid;
  border-color: #2f7a2f;
  border-width: 1px;
}
