.clock {
  background: linear-gradient(
      to bottom,
      #79c7ff 2%,
      10%,
      #1290e8 80%,
      95%,
      #03667e 100%
    ),
    white;
  padding: 0rem 2rem 0rem 2rem;
  align-self: stretch;
  align-content: center;
  border: solid;
  border-color: #03667e;
  border-width: 1px;
  color: white;
}
