:root {
  --background-image: url("./assets/bliss.png");
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  margin: 5rem;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

footer {
  background: linear-gradient(
      to bottom,
      #62a1f2 2%,
      10%,
      #245ddb 80%,
      95%,
      #093ba6 100%
    ),
    white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 30px;
}
