:root {
  --background-image: url("./assets/bliss.png");
  cursor: url(./assets/default_arrow.cur), auto;
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@font-face {
  font-family: "WindowsXP";
  src: url("assets/windows-xp-tahoma.otf.woff2") format("woff2");
}

h3,
h4,
h5,
h6 {
  /* font-family: "WindowsXP"; */
  margin-top: 0;
  margin-bottom: 0;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 29px;
  pointer-events: none;
  z-index: 1000;
}

.footer-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 0 96px 0 128px;
  border-image: url("assets/windows_xp_taskbar.jpg") 0 96 0 128 fill;
  box-sizing: border-box;
}

.footer-text {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "WindowsXP", sans-serif;
  color: white;
  font-size: large;
  z-index: 1001;
  pointer-events: auto;
}
