:root {
  --background-image: url("./assets/bliss.png");
  cursor: url(./assets/default_arrow.cur), auto;
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  margin: 5rem;
  min-height: 100vh;
}

.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
